* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #8c52ff;
  }
  /* html { 
    background: url(img/word.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100%;
  } */
  .container {
    font-size: 16px;
    background-color: #5F9EA0;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(27, 23, 13, 0.25);
  }
  #options-container {
    text-align: center;
  }
  #options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
  }
  #options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
    cursor: pointer;
  }
  #options-container button:disabled {
    border: 3px solid #808080;
    color: #808080;
    background-color: #efefef;
    border-radius: 5px;
  }
  #options-container button.active {
    background-color: #f1b963; 
    border: 3px solid #000000;
    color: black;
  }
  .letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }
  #letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #ffffff;
    cursor: pointer;
  }
  .new-game-popup {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
  }
  
  #user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    /* margin: 0.6em 0 1.2em 0; */
    margin-top: 10px;
  }
  canvas {
    display: block;
    margin: auto;
    border: 10px solid whitesmoke;
    border-radius: 10px;
  }
  .hide {
    display: none;
  }
  #result-text h2 {
    font-size: 1.8em;
    text-align: center;
  }
  #result-text p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
    text-align: center;
  }
  #result-text span {
    font-weight: 600;
  }
  #new-game-button {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: #f1b963;
    border: 3px solid #000000;
    color: #fff;
    border-radius: 0.2em;
    cursor: pointer;
  }
  .win-msg {
    color: #39d78d;
  }
  .lose-msg {
    color: #fe5152;
  }
  
  #clue-display{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  }

  #confetti{
    background: white;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .score{
    text-align: center;
    margin-bottom: 20px;
    color: #fe5152;
    
  }
  
  #result-text p{
    margin: 10px;
  }

  .container-login{
    font-size: 16px;
    background-color: #5F9EA0;
   
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 480px;
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(27, 23, 13, 0.25);
  }